.mainConstructor {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: start;
    align-items: flex-end;
    gap: 16px;

    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    max-height: calc(100vh - 56px - 40px - 100px);
    overflow-y: auto;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.orderBlock {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
}