.orderNumber {
    text-align: center;

    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_primary from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    margin-bottom: 40px;

}

.orderName {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_primary from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin-bottom: 12px;
}

.orderStatus {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_accent from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    margin-bottom: 30px;
}

.ingredientsBox {
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    height: 250px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.ingredientBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredientName {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_primary from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    flex-grow: 1;
    margin-left: 8px;
    margin-right: 16px;
}

.date {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

}