.profileContainer {
    margin-top: 60px;
    display: flex;
    gap: 60px;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
}

.sideLink {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    text-decoration: none;
    color: #8585AD;
    cursor: pointer;
}

.sideActiveLink {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.sideComment {
    color: #8585AD;
    composes: mt-20 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    opacity: 0.4;
}