.detailsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 0;
    width: 100%;
}

.ingredientList {
    display: flex;
    gap: 16px;
}

.detailsHeader {
    composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: pt-3 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.detailsText {
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

}

.ingredientField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredientFieldDescription {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-small from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

}

.ingredientFieldNumber {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-small from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}