.tabList {
    display: flex;
}

.sectionContainer {
    composes: pt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: pb-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.sectionHeader {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.listContainer {
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    display: flex;

    flex-direction: column;

    margin: 0;
    padding: 0;

    gap: 40px;


    height: calc(100vh - 56px - 40px - 40px);
    overflow-y: auto;
}