.header {
    background-color: #1c1c21;
    height: 88px;
    display: block;
    width: 1260px;
}

.nav {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navList {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twoBox {
    display: flex;
    gap: 48px;
}

.first {
    justify-self: start;
}

.logo {
    justify-self: center;
}

.last {
    justify-self: end;
}

.link {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    text-decoration: none;
    color: #8585AD;
    cursor: pointer;
}